<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
     <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Allergies</h5>
    <div class="flex flex-col gap-2">
    <div class="checkbox">
        <label for="antibiotiques-topiques" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">antibiotiques topiques</label>
        <input id="antibiotiques-topiques" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
    <div class="checkbox">
        <label for="corticostéroïdes-topiques" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">corticostéroïdes topiques</label>
        <input id="corticostéroïdes-topiques" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
    <div class="checkbox">
        <label for="collyres-décongestion" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">collyres de décongestion</label>
        <input id="collyres-décongestion" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
         <div class="checkbox">
        <label for="anesthésiques" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">anesthésiques</label>
        <input id="anesthésiques" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
         <div class="checkbox">
        <label for="conservateurs" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">conservateurs dans les collyres </label>
        <input id="conservateurs" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
    </div>
</div>


<style>
    .checkbox {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
</style>