<div class="flex flex-col">
    <label for="hdc" class="block mb-2 mt-5 text-sm font-medium text-gray-900 dark:text-white">Port de verre de
        contact</label>
    <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
            <div class="flex items-center ps-3">
                <input id="single-vision-contact-lenses" type="checkbox" value=""
                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label for="single-vision-contact-lenses"
                       class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">VC simple
                    vision</label>
            </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
            <div class="flex items-center ps-3">
                <input id="mutlifocal-contact-lenses" type="checkbox" value=""
                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label for="mutlifocal-contact-lenses"
                       class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">VC
                    multifocaux</label>
            </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
            <div class="flex items-center ps-3">
                <input id="mono-vision-contact-lenses" type="checkbox" value=""
                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label for="mono-vision-contact-lenses"
                       class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">VC
                    mono-vision</label>
            </div>
        </li>
    </ul>
</div>