<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
     <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Antecedents oculaires</h5>
    <div class="flex flex-col gap-2">
    <div class="checkbox">
        <label for="chirurgie" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Chirurgie aux yeux</label>
        <input id="chirurgie" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
    <div class="checkbox">
        <label for="traumatisme" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Traumatisme aux yeux</label>
        <input id="traumatisme" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
        <div class="checkbox">
        <label for="decollement-retine" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Decollement de la retine</label>
        <input id="decollement-retine" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
    </div>
</div>


<style>
    .checkbox {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
</style>