<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
     <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Antécédents oculaires</h5>
    <div class="flex flex-col gap-2">
        <div class="checkbox">
            <label for="{{ form.antecedants_oculaires_surgery.id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ form.antecedants_oculaires_surgery.label }}</label>
            <input name="{{ form.antecedants_oculaires_surgery.name }}" type="checkbox"  {% if form.antecedants_oculaires_surgery.data%}checked{% endif %} id="{{ form.antecedants_oculaires_surgery.id }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" value="{{ form.antecedants_oculaires_surgery.data }}" />
            {% for error in form.antecedants_oculaires_surgery.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="checkbox">
            <label for="{{ form.antecedants_oculaires_trauma.id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ form.antecedants_oculaires_trauma.label }}</label>
            <input name="{{ form.antecedants_oculaires_trauma.name }}" type="checkbox"  {% if form.antecedants_oculaires_trauma.data%}checked{% endif %} id="{{ form.antecedants_oculaires_trauma.id }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" value="{{ form.antecedants_oculaires_trauma.data }}" />
            {% for error in form.antecedants_oculaires_trauma.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="checkbox">
            <label for="{{ form.antecedants_oculaires_retinal_detachment.id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ form.antecedants_oculaires_retinal_detachment.label }}</label>
            <input name="{{ form.antecedants_oculaires_retinal_detachment.name }}" type="checkbox"  {% if form.antecedants_oculaires_retinal_detachment.data%}checked{% endif %} id="{{ form.antecedants_oculaires_retinal_detachment.id }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" value="{{ form.antecedants_oculaires_retinal_detachment.data }}" />
            {% for error in form.antecedants_oculaires_retinal_detachment.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
</div>


<style>
    .checkbox {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
</style>