<div class="md:flex">
    <ul class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0"
        id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
        <li role="presentation">
            <button class="inline-flex items-center px-4 py-3 text-white bg-blue-700 rounded-lg active w-full dark:bg-blue-600"
                    aria-current="page" id="profile-tab" data-tabs-target="#profile" type="button" role="tab"
                    aria-controls="profile" aria-selected="false">
                Histoire de cas
            </button>
        </li>
        <li role="presentation">
            <button class="inline-flex items-center px-4 py-3 text-white bg-blue-700 rounded-lg active w-full dark:bg-blue-600"
                    aria-current="page" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab"
                    aria-controls="dashboard" aria-selected="false">
                Examen de vue
            </button>
        </li>
    </ul>


    </ul>
    <div id="default-tab-content">
        <div class="hidden p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full"
             id="profile" role="tabpanel" aria-labelledby="profile-tab">
             <form>
            <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">Histoire de cas</h3>
            <div class="flex flex-wrap gap-2">
                {% include "exam/medicalConditions.html" %}
                {% include "exam/allergies.html" %}
                {% include "exam/medication.html" %}
                {% include "exam/visionTrouble.html" %}
                {% include "exam/familyHistory.html" %}
                {% include 'exam/eyeHistory.html' %}
            </div>
        </div>
        <div class="hidden p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full"
             id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
            <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-5">Examen</h3>
            <h2 class="text-sm font-bold text-gray-900 dark:text-white mb-2">Détail de l'équipement antérieur</h2>
            <div class="divider"></div>

            <div>
                <div class="flex flex-wrap gap-2">{% include "exam/oldPrescription.html" %}</div>
                <div class="flex flex-wrap gap-2">
                    {% include "exam/typeOfLenses.html" %}
                    {% include 'exam/contactLenses.html' %}
                </div>

            </div>
            <h2 class="text-sm font-bold text-gray-900 dark:text-white mt-8 mb-2">Nouvelles prescription</h2>
            <div class="divider"></div>
            <div class="flex flex-wrap">{% include "exam/rxObjective.html" %}</div>
            <div class="flex flex-wrap">{% include "exam/rxSubjective.html" %}</div>

             <h2 class="text-sm font-bold text-gray-900 dark:text-white mt-8 mb-2">Générer une prescription</h2>
            <div class="divider"></div>
            <button class="px-4 py-3 text-white bg-blue-700 rounded-lg dark:bg-blue-600">Valider examen</button>
        <a href="/examens/prescription?clinique_id={{clinique['ID']}}">
            <button class="px-4 py-3 text-white bg-blue-700 rounded-lg dark:bg-blue-600" type="button">Prescription</button>
           </a>
        </div>
    </form>

    </div>
</div>