<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
     <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Medicaments</h5>
    <div class="flex flex-col gap-2">
    <div class="checkbox">
        <label for="Amiodarone" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Amiodarone</label>
        <input id="Amiodarone" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
    <div class="checkbox">
        <label for="Digoxine" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Digoxine</label>
        <input id="Digoxine" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
    <div class="checkbox">
        <label for="Isotrétinoïne" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Isotrétinoïne</label>
        <input id="Isotrétinoïne" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
         <div class="checkbox">
        <label for="Chloroquine" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Chloroquine</label>
        <input id="Chloroquine" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
         <div class="checkbox">
        <label for="Méthylprednisolone" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Méthylprednisolone </label>
        <input id="Méthylprednisolone" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
    </div>
</div>


<style>
    .checkbox {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
</style>