<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
     <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Condition médicale</h5>
    <div class="flex flex-col gap-2">
    <div class="checkbox">
        <label for="diabete" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Diabete</label>
        <input id="diabete" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
    <div class="checkbox">
        <label for="hypertension" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Hypertension arterielle</label>
        <input id="hypertension" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
    <div class="checkbox">
        <label for="cardiaques" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Troubles cardiaques</label>
        <input id="cardiaques" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
         <div class="checkbox">
        <label for="asthme" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Asthme</label>
        <input id="asthme" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
         <div class="checkbox">
        <label for="cholesterol" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Taux de cholesterol eleve</label>
        <input id="cholesterol" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </div>
    </div>
</div>

<style>
    .checkbox {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
</style>