<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
     <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Condition médicale</h5>
    <div class="flex flex-col gap-2">
        <div class="checkbox">
            <label for="{{ hdc_form.conditions_diabetes.id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ hdc_form.conditions_diabetes.label }}</label>
            <input name="{{ hdc_form.conditions_diabetes.name }}" type="checkbox"  {% if hdc_form.conditions_diabetes.data%}checked{% endif %} id="{{ hdc_form.conditions_diabetes.id }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" value="{{ hdc_form.conditions_diabetes.data }}" />
            {% for error in hdc_form.conditions_diabetes.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="checkbox">
            <label for="{{ hdc_form.conditions_hypertension.id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ hdc_form.conditions_hypertension.label }}</label>
            <input name="{{ hdc_form.conditions_hypertension.name }}" type="checkbox"  {% if hdc_form.conditions_hypertension.data%}checked{% endif %} id="{{ hdc_form.conditions_hypertension.id }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" value="{{ hdc_form.conditions_hypertension.data }}" />
            {% for error in hdc_form.conditions_hypertension.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="checkbox">
            <label for="{{ hdc_form.conditions_heart_condition.id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ hdc_form.conditions_heart_condition.label }}</label>
            <input name="{{ hdc_form.conditions_heart_condition.name }}" type="checkbox"  {% if hdc_form.conditions_heart_condition.data%}checked{% endif %} id="{{ hdc_form.conditions_heart_condition.id }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" value="{{ hdc_form.conditions_heart_condition.data }}" />
            {% for error in hdc_form.conditions_heart_condition.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="checkbox">
            <label for="{{ hdc_form.conditions_asthma.id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ hdc_form.conditions_asthma.label }}</label>
            <input name="{{ hdc_form.conditions_asthma.name }}" type="checkbox"  {% if hdc_form.conditions_asthma.data%}checked{% endif %} id="{{ hdc_form.conditions_asthma.id }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" value="{{ hdc_form.conditions_asthma.data }}" />
            {% for error in hdc_form.conditions_asthma.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="checkbox">
            <label for="{{ hdc_form.conditions_cholesterol.id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ hdc_form.conditions_cholesterol.label }}</label>
            <input name="{{ hdc_form.conditions_cholesterol.name }}" type="checkbox"  {% if hdc_form.conditions_cholesterol.data%}checked{% endif %} id="{{ hdc_form.conditions_cholesterol.id }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" value="{{ hdc_form.conditions_cholesterol.data }}" />
            {% for error in hdc_form.conditions_cholesterol.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    .checkbox {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
</style>