<!--
Ancienne prescription
-->
<div class="flex flex-col">
<label for="hdc" class="block mb-2 mt-5 text-sm font-medium text-gray-900 dark:text-white">Ancienne prescription</label>
<div class=" mt-2">
    <div class="flex gap-2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <form class="flex mx-auto">
            <div>
                <label for="{{ form.old_RX_Sphere_LE.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.old_RX_Sphere_LE.label }}</label>
                <div class="flex flex-col">
                    <select id="{{ form.old_RX_Sphere_LE.id }}" name="{{ form.old_RX_Sphere_LE.name }}" class="prescription-input">
                        {% for value, label in form.old_RX_Sphere_LE.choices %}
                            <option  {% if value  == form.old_RX_Sphere_LE.data or (form.old_RX_Sphere_LE.data == None and value == '0.00')%} selected {% endif %} value="{{ value }}">{{ label }}</option>
                        {% endfor %}    
                    </select>
                    <select id="{{ form.old_RX_Sphere_RE.id }}" name="{{ form.old_RX_Sphere_RE.name }}" class="prescription-input">
                        {% for value, label in form.old_RX_Sphere_RE.choices %}
                            <option  {% if value  == form.old_RX_Sphere_RE.data or (form.old_RX_Sphere_RE.data == None and value == '0.00')%} selected {% endif %} value="{{ value }}">{{ label }}</option>
                        {% endfor %}  
                    </select>
                </div>
            </div>
            <div>
                <label for="{{ form.old_RX_Ast_LE.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.old_RX_Ast_LE.label }}</label>
                <div class="flex flex-col">
                    <select id="{{ form.old_RX_Ast_LE.id }}" name="{{ form.old_RX_Ast_LE.name }}" class="prescription-input">
                        {% for value, label in form.old_RX_Ast_LE.choices %}
                            <option  {% if value  == form.old_RX_Ast_LE.data or (form.RX_subjective_Ast_LE.data == None and value == '0.00')%} selected {% endif %} value="{{ value }}">{{ label }}</option>
                        {% endfor %}    
                    </select>
                    <select id="{{ form.old_RX_Ast_RE.id }}" name="{{ form.old_RX_Ast_RE.name }}" class="prescription-input">
                        {% for value, label in form.old_RX_Ast_RE.choices %}
                            <option {% if value  == form.old_RX_Ast_RE.data or (form.RX_subjective_Ast_LE.data == None and value == '0.00')%} selected {% endif %} value="{{ value }}">{{ label }}</option>
                        {% endfor %}  
                    </select>
                </div>
            </div>
            <div>
                <label for="{{ form.old_RX_Axis_LE.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.old_RX_Axis_LE.label }}</label>
                <div class="flex flex-col">
                    <select id="{{ form.old_RX_Axis_LE.id }}" name="{{ form.old_RX_Axis_LE.name }}" class="prescription-input">
                        {% for value, label in form.old_RX_Axis_LE.choices %}
                            <option  {% if value  == form.old_RX_Axis_LE.data or (form.old_RX_Axis_LE.data == None and value == '0.00')%} selected {% endif %} value="{{ value }}">{{ label }}</option>
                        {% endfor %}    
                    </select>
                    <select id="{{ form.old_RX_Axis_RE.id }}" name="{{ form.old_RX_Axis_RE.name }}" class="prescription-input">
                        {% for value, label in form.old_RX_Axis_RE.choices %}
                            <option {% if value  == form.old_RX_Axis_RE.data or (form.old_RX_Axis_RE.data == None and value == '0.00')%} selected {% endif %} value="{{ value }}">{{ label }}</option>
                        {% endfor %}  
                    </select>
                </div>
            </div>
            <div>
                <label for="{{ form.old_RX_Add_LE.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.old_RX_Add_LE.label }}</label>
                <div class="flex flex-col">
                    <select id="{{ form.old_RX_Add_LE.id }}" name="{{ form.old_RX_Add_LE.name }}" class="prescription-input">
                        {% for value, label in form.old_RX_Add_LE.choices %}
                            <option  {% if value  == form.old_RX_Add_LE.data or (form.old_RX_Add_LE.data == None and value == '0.00')%} selected {% endif %} value="{{ value }}">{{ label }}</option>
                        {% endfor %}    
                    </select>
                    <select id="{{ form.old_RX_Add_RE.id }}" name="{{ form.old_RX_Add_RE.name }}" class="prescription-input">
                        {% for value, label in form.old_RX_Add_RE.choices %}
                            <option {% if value  == form.old_RX_Add_RE.data or (form.old_RX_Add_LE.data == None and value == '0.00')%} selected {% endif %} value="{{ value }}">{{ label }}</option>
                        {% endfor %}  
                    </select>
                </div>
            </div>
            <div>
                <label for="{{ form.old_RX_Acuity_LE.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.old_RX_Acuity_LE.label }}</label>
                <div class="flex flex-col">
                    <select id="{{ form.old_RX_Acuity_LE.id }}" name="{{ form.old_RX_Acuity_LE.name }}" class="prescription-input">
                        <option disabled selected value="">A/V</option>
                        {% for value, label in form.old_RX_Acuity_LE.choices %}
                            <option {% if "{:.2f}".format(value)  == "{:.2f}".format(form.old_RX_Acuity_LE.data | float) %} selected {% endif %} value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                    <select id="{{ form.old_RX_Acuity_RE.id }}" name="{{ form.old_RX_Acuity_RE.name }}" class="prescription-input">
                        <option disabled selected value="">A/V</option>
                        {% for value, label in form.old_RX_Acuity_RE.choices %}
                            <option {% if "{:.2f}".format(value)  == "{:.2f}".format(form.old_RX_Acuity_RE.data | float) %} selected {% endif %} value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

