<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Troubles de la vision</h5>
    <div class="flex flex-col gap-2">
        <div class="checkbox">
            <label for="glaucome" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Glaucome</label>
            <input id="glaucome" type="checkbox" value=""
                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        </div>
        <div class="checkbox">
            <label for="cataracte" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Cataracte</label>
            <input id="cataracte" type="checkbox" value=""
                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        </div>
        <div class="checkbox">
            <label for="strabisme" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Strabisme</label>
            <input id="strabisme" type="checkbox" value=""
                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        </div>
        <div class="checkbox">
            <label for="vision-double" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Vision
                double</label>
            <input id="vision-double" type="checkbox" value=""
                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        </div>
        <div class="checkbox">
            <label for="perception-de-flash" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Perception
                de
                flash</label>
            <input id="perception-de-flash" type="checkbox" value=""
                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        </div>
        <div class="checkbox">
            <label for="mouches volantes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mouches
                volantes</label>
            <input id="mouches volantes" type="checkbox" value=""
                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        </div>
        <div class="checkbox">
            <label for="degenerescence-maculaire" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Degenerescence
                maculaire</label>
            <input id="degenerescence-maculaire" type="checkbox" value=""
                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        </div>
    </div>
</div>


<style>
    .checkbox {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
</style>