<div class="validity flex-col">
    <label for="hdc" class="block mb-2 mt-5 text-sm font-medium text-gray-900 dark:text-white">Optométriste</label>
    <div class=" mt-2">
        <div class=" gap-2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <h3 class="font-bold">Dr {{optometriste['last_name']}} {{optometriste['first_name']}}, o.d</p>
            <br>
            <p>{{clinique['name']}}</p>
            <p>{{addresse['street_number']}} {{addresse['street_name']}}</p>
            <p>{{addresse['city']}} {{addresse['province']}}</p>
            <p>{{clinique['phone_number']}}</p>
        </div>
    </div>
</div>