<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptoGo</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <script src="{{url_for('static', filename='js/darkMode.js')}}"></script>
</head>

<body class="dark:bg-gray-900 antialiased">
<div id="nav-bar" class="mb-10">
    {% include "navbar.html" %}
</div>

<div id="breadcrumb" class="mb-10">
    {% include "breadcrumb.html" %}
</div>

<div id="choice" class="flex flex-wrap justify-around justify-center gap-8 ">
{% include "choiceSelect.html" %}
</div>
</body>

</html>