<form class="max-w-sm mx-auto mr-3">
    <label for="clinicSelect" class="sr-only">Underline select</label>
    <select id="clinicSelect"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option>Vizu-L</option>
        <option>Voskins</option>
        <option>New-Look St-Denis</option>
    </select>
</form>

  <!-- JS pour faire fonctionner Flowbite -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

<!-- Logique de requete HTTP vers le serveur Flask afin de mettre a jour la variable globale de la clinique active  -->
<script>
  let cliniqueSelection = document.getElementById("clinicSelect")
  let selectedClinic = ""
  cliniqueSelection.addEventListener("change", function (event) {
      selectedClinic = event.target.value;
      console.log(selectedClinic)
      fetch("update_clinic?selected_option=" + selectedClinic)
          .then(response => {
              if (!response.ok) {
                  console.log("Un probleme dans votre choix de clinique")
              }
              return response.json()
          })
  })
</script>