<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptoGo - Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<div id="nav-bar" class="mb-10">
    {% include "navbar.html" %}
</div>

<div id="breadcrumb" class="mb-10">
    {% include "breadcrumb.html" %}
</div>

<div class="flex flex-wrap justify-center space-x-4">
    <div id="optometrist-card" class="w-96">{% include "optometristCard.html" %}</div>
    <div class=" flex flex-col items-center justify-center space-y-4">
        <div class="flex flex-col gap-2.5 items-center ">
            <!-- Selection des cliniques, on pourra changer au besoins quand on aura le back -->
            <label>Selection de la clinique :</label>
            {% include "clinicSelection.html" %}
        </div>
        <div>
            <a href="/auth/logout">
            <button type="button"
                    class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Deconnexion
            </button>
        </a>
        </div>
    </div>
</div>

</body>

</html>

{% if error_message %}
    <script>
        var error_message = {{ error_message|tojson }};
        if (error_message) {
            Swal.fire({
                icon: 'error',
                title: confirmation_message.title,
                text: confirmation_message.text,
            });
        }
    </script>
{% endif %}