<!-- Page d'examen -->

<h2 class="text-4xl font-extrabold dark:text-white mb-5">Informations sur le patient</h2>
<!--
TextField pour l'histoire de cas
-->
<label for="hdc" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Histoire de cas</label>
<textarea id="hdc" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Histoire de cas du patient"></textarea>


<!--
Ancienne prescription
-->
{% include 'exam/oldPrescription.html' %}


<!--
Type de lunette porté et verre de contact
-->
<div class="flex gap-5">
    {% include "exam/typeOfLenses.html" %}
    {% include "exam/contactLenses.html" %}
</div>
