<!--
Page d'informations concernant le patient
-->
{{ patient_form.hidden_tag() }}
<div class="patientInformationForm">
    <div>
        <label for="{{ patient_form.first_name.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ patient_form.first_name.label }}</label>
        <input name="{{ patient_form.first_name.name }}" type="text" id="{{ patient_form.first_name.id }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ patient_form.first_name.data }}"  required />
        {% for error in patient_form.first_name.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        <label for="{{ patient_form.last_name.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ patient_form.last_name.label }}</label>
        <input name="{{ patient_form.last_name.name }}" type="text" id="{{ patient_form.last_name.id }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ patient_form.last_name.data }}"  required />
        {% for error in patient_form.last_name.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div>
        <label for="{{ patient_form.phone_number.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ patient_form.phone_number.label }}</label>
        <input name="{{ patient_form.phone_number.name }}" type="phone" id="{{ patient_form.phone_number.id }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ patient_form.phone_number.data }}" required />
        {% for error in patient_form.phone_number.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>

    <div>
        <label for="{{ patient_form.gender.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ patient_form.gender.label }}</label>
        <select name="{{ patient_form.gender.name }}" id="{{ patient_form.gender.id }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ patient_form.gender.data }}" required />
            <option selected disabled>Choisissez</option>    
            <option value="Male" {% if patient_form.gender.data  =='Male' %} selected {% endif %}>Homme</option>
            <option value="Female" {% if patient_form.gender.data == 'Female' %} selected {% endif %}>Femme</option>
            <option value="Genderqueer" {% if patient_form.gender.data == 'Genderqueer' %} selected {% endif %}>Non-binaire</option>
            <option value="Bigender" {% if patient_form.gender.data == 'Bigender' %} selected {% endif %}>Bigenre</option>
            <option value="Agender" {% if patient_form.gender.data == 'Agender' %} selected {% endif %}>Agenre</option>
            <option value="Polygender" {% if patient_form.gender.data == 'Polygender' %} selected {% endif %}>Polygenre</option>
            <option value="Other" {% if patient_form.gender.data == 'Other' %} selected {% endif %}>Autre</option>
        </select>
        {% for error in patient_form.gender.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div>
        <label for="{{ patient_form.email.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ patient_form.email.label }}</label>
        <input name="{{ patient_form.email.name }}" type="email" id="{{ patient_form.email.id }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ patient_form.email.data }}" required />
        {% for error in patient_form.email.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div> 
    <div>
        <label for="{{ patient_form.birth_date.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ patient_form.birth_date.label }}</label>
        <input  name="{{ patient_form.birth_date.name }}" type="date" id="{{ patient_form.birth_date.id }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ patient_form.birth_date.data }}"  required />
        {% for error in patient_form.birth_date.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div> 
    <div>
        <label for="{{ patient_form.RAMQ_number.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ patient_form.RAMQ_number.label }}</label>
        <input name="{{ patient_form.RAMQ_number.name }}" type="text" id="{{ patient_form.RAMQ_number.id }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:value-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"value="{{ patient_form.RAMQ_number.data }}" required />
        {% for error in patient_form.RAMQ_number.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div> 
</div>