<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-end px-4 pt-4">
        <button id="dropdownButton" data-dropdown-toggle="dropdown"
                class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
                type="button">
            <span class="sr-only">Open dropdown</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                 viewBox="0 0 16 3">
                <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
            </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdown"
             class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2" aria-labelledby="dropdownButton">
                <li>
                    <a id="editButton"
                       href="#"
                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Editer</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Indentification de l'optometriste -->
    <div class="flex flex-col items-center pb-10">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{{optometriste.avatar_image_link}}" alt="Photo de l'optometriste"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{optometriste.first_name}} {{optometriste.last_name}}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">Optometriste</span>
        <div class="flex mt-4 md:mt-6">

            <!-- Champs d'infos de l'opto -->
            <form class="max-w-sm mx-auto">
                <div>
                    <label for="optoNumberInput" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero
                        de pratique</label>
                    <input readonly type="number" id="optoNumberInput" aria-describedby="helper-text-explanation"
                           placeholder="{{optometriste.exercise_number}}"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           required/>
                </div>
                <div>
                    <label for="adresseInput"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Adresse</label>
                    <textarea readonly id="adresseInput" rows="4"
                              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >{{optometriste.street_number}} {{optometriste.street_name}} &#013{{optometriste.city}}, {{optometriste.province}} &#013{{optometriste.postal_code}} </textarea>
                </div>
                <div>

                    <label for="phoneInput" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telephone:</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 19 18">
                                <path d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"/>
                            </svg>
                        </div>
                        <input readonly type="text" id="phoneInput" aria-describedby="helper-text-explanation"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="{{optometriste.phone_number}}" required/>
                    </div>
                </div>
                <div class="flex justify-end px-4 pt-4">
                    <button id="saveButton"
                            class="hidden bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
                        Enregistrer
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<!--Gère le comportement des boutons "Éditer" et "Enregistrer"
et l'attribut read-only et la valeur des placeholders

Le bouton "Éditer" permet de modifier les champs de saisie en retirant l'attribut "readonly".
Le bouton "Enregistrer" permet de sauvegarder les modifications et de restaurer les champs en mode lecture seule.-->
<script src="{{ url_for('static', filename='callAPI/optometristInformation.js') }}"></script>

<script>


    const editButton = document.getElementById('editButton');
    const saveButton = document.getElementById('saveButton');
    const numberInput = document.getElementById('optoNumberInput');
    const adresseInput = document.getElementById('adresseInput');
    const phoneInput = document.getElementById('phoneInput');


    editButton.addEventListener('click', function () {
        if (saveButton.classList.contains('hidden')) {
            saveButton.classList.remove('hidden');

            numberInput.removeAttribute('readonly');
            adresseInput.removeAttribute('readonly');
            phoneInput.removeAttribute('readonly');
        } else {
            saveButton.classList.add('hidden');
        }
    });

    saveButton.addEventListener('click', async function () {
        saveButton.classList.add('hidden');

        let newPracticeNumber = numberInput.value;
        let newAdresse = adresseInput.value;
        let newPhoneNumber = phoneInput.value;

        numberInput.placeholder = newPracticeNumber;
        adresseInput.placeholder = newAdresse;
        phoneInput.placeholder = newPhoneNumber;

        <!--MAJ de la variable globale OptoInfoGLobal du fichier app.py concernant les informations de l'optometriste -->
        await modifyOptoInfos(newPracticeNumber, newAdresse, newPhoneNumber)

            .then(responseData => {
                console.log(responseData)
                numberInput.placeholder = responseData.PracticeNumber;
                adresseInput.placeholder = responseData.Adresse;
                phoneInput.placeholder = responseData.Phone;
            })
            .catch(error => {
                console.log("MAJ impossible des infos de l'optometriste :", error);
            });

        numberInput.setAttribute('readonly', 'readonly');
        adresseInput.setAttribute('readonly', 'readonly');
        phoneInput.setAttribute('readonly', 'readonly');
    });

</script>

<!-- JS pour faire fonctionner Flowbite -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>