<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optogo - Patient Details</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css') }}">
    <script src="{{url_for('static', filename='js/darkMode.js')}}"></script>
    <script src="{{ url_for('static', filename='callAPI/verifEntry.js') }}"></script>
</head>

<body class="dark:bg-gray-900 antialiased">
<div id="nav-bar" class="mb-10">
    {% include "navbar.html" %}
</div>

<div id="breadcrumb" class="mb-10">
    {% include "breadcrumb.html" %}
</div>

<div id="patientsTable" class="m-4">
    {% include "patientInformationForm.html" %}
    {% with readonly=True %}
        {% include "addressForm.html" %}
    {% endwith %}
    <a href="/patients/{{patient['ID']}}/edit">
        <button type="button" class="mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Modifier le patient</button>
    </a>
</div>
</body>

</html>
